@model Haber
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Haber Ekle</h3>
                        </div>
                        <form asp-controller="Haber" asp-action="Create" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="card-body">
                                <div class="form-group col-md-6">
                                    <label class="control-label">Kategoriler</label>
                                    <select class="form-control" asp-for="KategoriId" asp-items="@ViewBag.Kategoriler">
                                        <option value="">Kategori Seçiniz</option>
                                    </select>
                                    <span asp-validation-for="KategoriId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Haber Başlık</label>
                                    <input asp-for="Baslik" type="text" class="form-control" />
                                    <span asp-validation-for="Baslik" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Kısa Açıklama</label>
                                    <textarea type="text" rows="3" asp-for="KisaAciklama" class="form-control"></textarea>
                                    <span asp-validation-for="KisaAciklama" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="card card-outline card-info">
                                        <div class="card-header">
                                            <label class="control-label">Haber Detayları</label>
                                        </div>
                                        <div class="pad">
                                            <div class="mb-3">
                                                <textarea asp-for="Detay" class="textarea" style="line-height: 18px; border: 1px solid #dddddd; padding:10px;"></textarea>
                                                <span asp-validation-for="Detay" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Sayfa Linki</label>
                                    <input asp-for="Url" type="text" class="form-control" />
                                    <span asp-validation-for="Url" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label">Seo Description</label>
                                    <input asp-for="SeoDesc" type="text" class="form-control" />
                                    <span asp-validation-for="SeoDesc" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="checbox">
                                        <label>Ana Manşet Olarak Ekle</label>
                                        <input asp-for="MansetMi" type="checkbox" class="checbox" />
                                        <span asp-validation-for="MansetMi" class="text-danger"></span>
                                    </div>
                                    <div class="checbox">
                                        <label asp-for="EkMansetMi" class="control-label">2.Manşet Olarak Ekle</label>
                                        <input asp-for="EkMansetMi" type="checkbox" class="checbox" />
                                        <span asp-validation-for="EkMansetMi" class="text-danger"></span>
                                    </div>
                                    <div class="checbox">
                                        <label asp-for="EditorMu" class="control-label">Editör Yazılarına Ekle</label>
                                        <input asp-for="EditorMu" type="checkbox" class="checbox" />
                                        <span asp-validation-for="EditorMu" class="text-danger"></span>
                                    </div>
                                    <div class="checbox">
                                        <label asp-for="PopulerMi" class="control-label">Popüler Haberlere Ekle</label>
                                        <input asp-for="PopulerMi" type="checkbox" class="checbox" />
                                        <span asp-validation-for="PopulerMi" class="text-danger"></span>
                                    </div>
                                    <div class="checbox">
                                        <label asp-for="SonHaberMi" class="control-label">Son Haberlere Ekle</label>
                                        <input asp-for="SonHaberMi" type="checkbox" class="checbox" />
                                        <span asp-validation-for="SonHaberMi" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-widget">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                    <input type="file" id="files" name="files" class="form-control"/>
                                                <span asp-validation-for="Foto" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <input type="submit" value="Kaydet" class="btn btn-primary btn-sm" /> |
                                <a href="/haber" class="btn btn-secondary btn-sm">Listeye Geri Dön</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
