<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="~/logincss/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/logincss/adminlte.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="stylesheet" href="~/logincss/bootstrap-4.min.css">
    <link rel="stylesheet" href="~/logincss/toastr.min.css">
    <link rel="stylesheet" href="~/logincss/summernote/summernote-bs4.css">

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @await Html.PartialAsync("_adminHeaderNav")
        @RenderBody()
        <aside class="control-sidebar control-sidebar-dark"></aside>
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a>Müslüm Ergenç</a></strong>
            AspNet.Core Yönetim Paneli
            <div class="float-right d-none d-sm-inline-block"></div>
        </footer>
    </div>
    <script src="~/logincss/jquery.min.js"></script>
    <script src="~/logincss/bootstrap.bundle.min.js"></script>
    <script src="~/logincss/adminlte.js"></script>
    <script src="~/logincss/demo.js"></script>
    <script src="~/logincss/summernote/summernote-bs4.min.js"></script>
    <script src="~/logincss/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script>
        $(function() {
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true,
                });
            });
            $('.filter-container').filterizr({ gutterPixels: 3 });
            $('.btn[data-filter]').on('click', function() {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })
    </script>
    <script>
        $(function() {
            $('.textarea').summernote()
        })</script>
</body>
</html>
