<footer>
    <div class="container">
        <div class="row">
            <!-- START FOOTER BOX (About) -->
            <div class="col-sm-3 footer-box">
                <div class="about-inner">
                    <img src="~/assets/images/logo-white.png" class="img-responsive" alt="" />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
                    <ul>
                        <li><i class="ti-location-arrow"></i>1234 Heaven Stress, Beverly Hill.</li>
                        <li><i class="ti-mobile"></i>(800) 123 456 789</li>
                        <li><i class="ti-email"></i>Contact@erentheme.com</li>
                    </ul>
                </div>
            </div>
            <!--  END OF /. FOOTER BOX (About) -->
            <!-- START FOOTER BOX (Twitter feeds) -->
            <div class="col-sm-3 footer-box">
                <div class="twitter-inner">
                    <h3 class="wiget-title">twitter feeds</h3>
                    <ul class="margin-top-60">
                        <li>
                            Typi non habent claritatem insitam est usus legent is iis qui facit claritatem. Investigatione <a href="https://t.co/erenthemeGHTQ">https://t.co/erenthemeGHTQ</a>
                            <span><i class="ti-twitter"></i>12 days ago</span>
                        </li>
                        <li>
                            Typi non habent claritatem insitam est usus legent is <a href="https://t.co/erenthemeGHTQ">https://t.co/erenthemeGHTQ</a>
                            <span><i class="ti-twitter"></i>10 days ago</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END OF /. FOOTER BOX (Twitter feeds) -->
            <!-- START FOOTER BOX (Category) -->
            <div class="col-sm-2 footer-box">
                <h3 class="wiget-title">Category</h3>
                <ul class="menu-services">
                    <li><a href="#">Business</a></li>
                    <li><a href="#">LifeStyle</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">Entertainment</a></li>
                </ul>
            </div>
            <!-- END OF /. FOOTER BOX (Category) -->
            <!-- START FOOTER BOX (Recent Post) -->
            <div class="col-sm-4 footer-box">
                <h3 class="wiget-title">Recent Post</h3>
                <div class="footer-news-grid">
                    <div class="news-list-item">
                        <div class="img-wrapper">
                            <a href="#" class="thumb">
                                <img src="~/assets/images/115x85-1.jpg" alt="" class="img-responsive">
                                <div class="link-icon">
                                    <i class="fa fa-camera"></i>
                                </div>
                            </a>
                        </div>
                        <div class="post-info-2">
                            <h5><a href="#" class="title">Cooking Recipes Anytime And Anywhere</a></h5>
                            <ul class="authar-info">
                                <li><i class="ti-timer"></i> May 15, 2016</li>
                            </ul>
                        </div>
                    </div>
                    <div class="news-list-item">
                        <div class="img-wrapper">
                            <a href="#" class="thumb">
                                <img src="~/assets/images/115x85-2.jpg" alt="" class="img-responsive">
                                <div class="link-icon">
                                    <i class="fa fa-camera"></i>
                                </div>
                            </a>
                        </div>
                        <div class="post-info-2">
                            <h5><a href="#" class="title">Cooking Recipes Anytime And Anywhere</a></h5>
                            <ul class="authar-info">
                                <li><i class="ti-timer"></i> May 15, 2016</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF /. FOOTER BOX (Recent Post) -->
        </div>
    </div>
</footer>
<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="copy">Copyright@2017 I-News Inc.</div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <ul class="footer-nav">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Donation</a></li>
                    <li><a href="#">F.A.Q</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
