<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/logincss/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/logincss/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/logincss/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @if (TempData["message"] != null)
        {
            <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
        }
        @RenderBody()
    </div>
    <script src="~/logincss/jquery.min.js"></script>
    <script src="~/logincss/bootstrap.bundle.min.js"></script>
    <script src="~/logincss/adminlte.min.js"></script>

</body>
</html>