@model Yazar
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-bullhorn"></i>
                               DİKKAT !
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="callout callout-danger">
                                <h2>@Model.Ad</h2>
                                <h5>Bu Yazarı Silmek İstediğinize Emin misiniz ?</h5>
                                <form asp-action="Delete">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="submit" value="Sil" class="btn btn-danger btn-sm" />
                                        <a href="/yazar" class="btn btn-info btn-sm text-white">İptal</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>