
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-logo">
    <a href="/"><b>Şifre Hatırlat</b></a>
</div>
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Şifreniz Mail Adresinize Gönderilir.</p>
        <form asp-action="forgotpassword" asp-controller="login" method="post">
            <div class="input-group mb-3">
                <input type="email" name="Email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-block">Şifre Gönder</button>
                    <a href="/login" class="btn btn-danger btn-block">Login Sayfasına Dön</a>
                </div>
            </div>
        </form>
    </div>
</div>

