
@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-logo"><b>Şifre Yenileme</b></div>
<div class="card">
    <div class="card-body login-card-body">
        <form asp-action="resetpassword" asp-controller="login" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="input-group mb-3">
                <input type="hidden" asp-for="Token">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" asp-for="RePassword" class="form-control" placeholder="Re-Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                    <a href="/login" class="btn btn-danger btn-block">Login Sayfasına Dön</a>
                </div>
            </div>
        </form>
    </div>
</div>
